@import "../../ui/Theme/theme";

.container {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 9px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
  @include themify {
    color: $color-4;
    background: $color-2;
    box-shadow: 0 0 5px 3px $color-4;
  }
  &Hovered {
    width: 100px;
    border-radius: 50px;
    transition: 0.3s;
  }
}

.dots {
  transition: 0.4s all;
  transform: rotate(0deg);
}

.rotated {
  transform: rotate(90deg);
  transition: 0.5s;
  position: absolute;
  left: 0;
}
