$color-0: null;
$color-1: null;
$color-2: null;
$color-3: null;
$color-4: null;
$color-critical: #c81111;
$color-major: #b40bbe;
$color-low: #63d297;

$themes: (
  light: (
    color-0: #fff,
    color-1: #63d297,
    color-2: #202729,
    color-3: #ff5252,
    color-4: #999999,
  ),
  dark: (
    color-0: #202729,
    color-1: #63d297,
    color-2: #4ba173,
    color-3: #fff076,
    color-4: #fff,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $colors in $themes {
    &:global(.theme-#{$theme}),
    :global(.theme-#{$theme}) & {
      $color-0: map-get($colors, "color-0") !global;
      $color-1: map-get($colors, "color-1") !global;
      $color-2: map-get($colors, "color-2") !global;
      $color-3: map-get($colors, "color-3") !global;
      $color-4: map-get($colors, "color-4") !global;

      @content;

      $color-0: null !global;
      $color-1: null !global;
      $color-2: null !global;
      $color-3: null !global;
      $color-4: null !global;
    }
  }
}
