@import "../../ui/Theme/theme";
@import "../../assets/style/mixins/_typography.scss";

.background {
  min-height: 100vh;
  min-width: 100vw;
  @include centering-flex;
  @include themify {
    background-color: $color-0;
    color: $color-4;
  }
}

.header {
  @include centering-flex;
  height: 50px;
  width: 100%;
  @include themify {
    border-bottom: 1px solid $color-1;
    box-shadow: 0 0 5px $color-1;
  }
}
