@import "../../ui/Theme/theme";
@import "../../assets/style/mixins/_typography.scss";

.background {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  @include themify {
    background-color: $color-0;
    color: $color-4;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  z-index: 1;
  @include centering-flex;
  height: 50px;
  width: 100%;
  & > * {
    width: 100px;
  }
  @include themify {
    border-bottom: 1px solid $color-1;
    box-shadow: 0 0 5px $color-1;
  }

  @media (max-width: 768px) {
    font-size: 9px;
    height: 25px;
  }
}

.children {
  padding: 1rem 3rem;
  width: 100%;
  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.icon {
  max-width: 32px;
  max-height: 32px;
  min-width: 32px;
  transition: 0.4s all;
  @include themify {
    fill: $color-4;
  }
  @media (max-width: 768px) {
    max-width: 18px;
    max-height: 18px;
    min-width: 18px;
  }
}
