@import "../../ui/Theme/theme";
@import "../../assets/style/mixins/_typography.scss";

.nav {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
}

.controls {
  display: flex;
  align-self: center;
  & > button {
    margin: 5px;

    & > span {
      display: flex;
      align-items: center;
    }
  }
}

.icon {
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  @include themify {
    fill: $color-4;
  }
  &[priority="active"] {
    @include themify {
      fill: $color-3;
    }
  }
}

.add,
.priority,
.sort {
  position: relative;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 50%;
  @include themify {
    color: $color-4;
    background: $color-2;
    box-shadow: 0 0 5px 3px $color-4;
  }
  transition: 0.4s;
  &Hovered {
    width: 100px;
    border-radius: 50px;
    transition: 0.3s;
  }

  &Text {
    animation: opacity 0.4s ease-in;
  }
}

.hiddenText {
  font-size: 18px;
  transition: 0.4s all;
  transform: rotate(0deg);
}

.rotated {
  & > span:first-child,
  & > svg:first-child {
    font-size: 12px;
    transform: rotate(90deg);
    transition: 1s;
    position: absolute;
    left: 0;
    opacity: 0;
  }
}

.sortControls {
  @include centering-flex;
  & > svg:not(:first-child) {
    margin-left: 3px;
  }
}

.sortHoveredBig {
  width: 180px;
}

.sortDirection {
  max-width: 12px;
}

.sortDirectionRotated {
  transform: rotate(180deg);
}

.active {
  @include themify {
    fill: $color-3;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes display {
  from {
    display: flex;
  }
  to {
    display: none;
  }
}
