@import "../../ui/Theme/theme";
@import "../../assets/style/mixins/typography";

.memoCard {
  position: relative;
  min-width: 100px;
  max-width: 300px;
  min-height: 50px;
  height: fit-content;
  border-radius: 15px;
  display: flex;
  @include themify {
    border: 1px solid $color-1;
    box-shadow: inset 0 0 2px $color-1;
  }
  flex-shrink: 0;
  flex-direction: column;
  & > span {
    @include themify {
      border-bottom: 1px solid $color-1;
    }
  }

  transition: 0.4s ease all;
  &:hover {
    transition: 0.4s ease all;
    @include themify {
      box-shadow: inset 0 0 10px $color-2;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    position: relative;

    & > input {
      @include text-overflow(200px);
    }
  }

  .date {
    position: absolute;
    bottom: -3px;
    left: 0;
    font-size: 9px;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
  }

  .dateIcon {
    margin-right: 0.2rem;
    min-width: 10px;
    max-width: 10px;
    max-height: 10px;
    @include themify {
      fill: $color-4;
    }
  }

  .inputTitle {
    cursor: pointer;
    font-size: 20px;
    @include themify {
      color: $color-3;
    }
  }
}

.controls {
  display: flex;
  justify-content: flex-end;
  width: 80px;
  padding: 0.5rem 0.3rem;
  svg {
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;
    cursor: pointer;
  }
  @include themify {
    fill: $color-4;
  }

  svg[deadline="deadline_true"] {
    @include themify {
      fill: $color-major;
    }
  }
}

.content {
  padding: 0.5rem 1rem 10px 1rem;
  display: flex;
  flex-direction: column;
  word-break: break-all;
  &Overflow {
    padding: 0.5rem 1rem 10px 1rem;
    @include text-overflow(100px);
  }
}

.footer {
  cursor: pointer;
  z-index: 2;
  bottom: 2px;
  position: absolute;
  @include centering-flex;
  width: 98%;
  height: 5px;
  font-size: 9px;
  border-radius: 0 0 15px 15px;
  @include themify {
    color: $color-1;
  }

  & > span:hover {
    @include themify {
      color: $color-3;
    }
  }
}

.rotated {
  transform: rotate(180deg);
  bottom: 5px;
}

.pinned {
  transform: rotate(135deg);
  @include themify {
    fill: $color-critical;
  }
}

.showPriority {
  transition: 0.4s ease all;

  &:hover {
    transition: 0.4s ease all;
    @include themify {
      box-shadow: inset 0 0 5px $color-3 !important;
    }
  }
}
