@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
@import "./src/assets/style/mixins/_typography.scss";

html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  @include centering-flex;
}

* {
  box-sizing: border-box;
  border: 0;
  outline: transparent;
  transition-timing-function: linear;
  transition-duration: 80ms;
  transition-property: color, background-color, fill;
  font-family: "proxima-nova", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}
